:root {
  --forest-light: #eff1ec;
  --forest-green-light: rgb(205, 230, 201);
  --forest-mist: #e1ecdc;
  --forest-green: rgb(174, 209, 169);
  --forest-green-light: #618e70a6;
  --forest-dark-green: rgb(16, 68, 58);
  --forest-deep: #0a1527;
  --forest-dark: #0c101b;
}
@font-face {
  font-family: smooth;
  src: url(./fonts/SmoothMarker-45d6.ttf);
}

html,
body {
  height: 100%;
  font-family: "Courier New", Courier, monospace;
}
body {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 0;

  background-image: url(./img/tall-forest.jpg);
  background-position: center;
  background-size: cover;
}
p {
  margin: 0;
  font-size: 1.2rem;
}
h2 {
  margin: 0;
}
.sidebar {
  grid-column: 1/2;

  border-radius: 20px;
  margin: 10px;
  padding: 10px;

  background: rgba(174, 209, 169, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0px 20px;
  margin-bottom: 80px;
  margin-top: 20px;
}
.logo img {
  width: auto;
  height: 80px;
}
.logo p {
  font-size: 3rem;
  font-family: smooth;
  color: var(--forest-deep);
}

.project-title {
  display: flex;
  justify-content: space-between;

  padding: 0px 20px;
  margin-bottom: 10px;
}
.project-title p {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.add-project-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  padding: 8px 16px;

  font-size: 1.5rem;
}
.add-project-button:hover {
  scale: 1.05;
  background-color: var(--forest-green-light);
}
.project-container {
  display: flex;
  flex-direction: column;
}
.project-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--forest-green);

  border-radius: 16px;
  border: solid 2px var(--forest-green-light);
}
.project-card:hover {
  scale: 1.05;
  background-color: var(--forest-green-light);
}
.project-card:active {
  scale: 1;
}

.body {
  grid-column: 2/3;
}

.main {
  /* display: flex;
  justify-content: center; */

  padding: 0px 25vw;
}
h1 {
  margin-top: 5vh;
  margin-bottom: 30px;
}
.task {
  width: 100%;
  border: solid brown 1px;
  display: flex;
  align-items: center;
}
.add-task {
  width: 100%;
  margin-top: 20px;
}

.form-container {
  display: none;
  position: absolute;

  height: 100%;
  width: 100%;

  justify-content: center;
  z-index: 1;

  background-color: rgba(0, 0, 0, 0.447);
}
form {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form div {
  display: flex;
  flex-direction: column;
}
h3 {
  margin: 0;
}
form button {
  width: 100%;
}
